<div class="sidebar">
    <div class="home1">
        <%= image_tag "home.jpeg" %>
        <h5 id="home"> ホーム </h5>
    </div>
    
    <div class="wadai2">
        <%= image_tag "wadai.jpeg" %>
        <h5 id="wadai"> 話題を検索 </h5>
    </div>
    
    <div class="tsuchi3">
        <%= image_tag "tsuchi.jpeg" %>
        <h5 id="tsuchi"> 通知 </h5>
    </div>
    
    <div class="message4">
        <%= image_tag "mail.jpeg" %>
        <h5 id="message"> メッセージ </h5>
    </div>
    
    <div class="bookmark5">
        <%= image_tag "bookmark.jpeg" %>
        <h5 id="bookmark"> ブックマーク </h5>
    </div>
    
    <div class="list6">
        <%= image_tag "list.jpeg" %>
        <h5 id="list"> リスト </h5>
    </div>
    
    <div class="profile7">
        <%= image_tag "icon.jpeg" %>
        <h5 id="profile"> プロフィール </h5>
    </div>

    <div class="more8">
        <%= image_tag "more.jpeg" %>
        <h5 id="more"> もっと見る </h5>
    </div>
</div>